body{
    text-align:center;
    background-color:black;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    color: green;
}
.table_servicos{
    animation: animate 1.5s linear infinite;
}
@keyframes animate{
   0%{
     opacity: 0;
   }
   50%{
     opacity: 0.7;
   }
   100%{
     opacity: 0;
   }
 }
